.header h1{
  color: steelblue;
  font-size: 60px;
  display: flex;
}

.no-user-box{
  width: 383px;
  display: flex;
  justify-content: center;
}

.no-user-box a {
  color: #A11811;
  margin: 0 20px 0 20px;
}
