.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0F0F;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

.header h1{
  font-size: 60px;
  display: flex;
  margin-left: 75px;
}

.header a {
  text-decoration: none;
}

.header-one {
  font-size: 75px;
  color: #F4F4F4;
}

.header-two {
  font-size: 75px;
  color: #D23321;
}

.no-user-box {
  display: flex;
  justify-content: center;
  margin-right: 75px;
}

.user-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 75px;
}

.two-user-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  justify-content: flex-end;
  display: flex;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #D23321;
}

.signout,
.favorites-link,
.login-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4F4F4;
  text-decoration: none;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
}

.signout:hover,
.favorites-link:hover,
.login-link:hover {
  background-color: #D23321;
  border: #D23321;
}

@media screen and (max-width: 950px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .no-user-box {
    margin: 5px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 650px) {
  .header-one,
  .header-two {
    font-size: 55px;
  }

  .no-user-box {
    margin-left: 70px;
  }
}

@media screen and (max-width: 550px) {
  .header-one,
  .header-two {
    font-size: 55px;
    justify-content: flex-end;
  }

  .header h1 {
    margin-right: 60px;
    margin-bottom: 5px;
  }

  .no-user-box {
    margin-left: 70px;
    margin-right: 60px;
  }

  .signout,
  .favorites-link,
  .login-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .signout,
  .favorites-link,
  .login-link {
    font-size: 13px;
  }
}
