@import './Header.scss';
@import './movieIndex.scss';
@import './MovieCard.scss';
@import './LogIn.scss';

* {
  margin: 0;
  padding: 0;
}

.routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0D0F0F;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}
