.movie-card {
  color: steelblue;
  background-color: #0D0F0F;
  height: 500px;
  width: 350px;

  // border: 2px solid steelblue;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  // background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.fav-btn {
  position: absolute;
  margin-left: 325px;
  width: 40px;
  height: 40px;
  background-image: url("http://localhost:3000/assets/hover-star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.fav-btn:hover {
  background-image: url("http://localhost:3000/assets/red-star.svg");
  transition-delay: .05s;
}

.movie-card img {
  height: 500px;
  width: 350px;
  // border: 2px solid #A11811;
  box-shadow: 5px 10px 10px #000;

}

.movie-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.score-release-container {
  margin-right: 33px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-card p {
  font-size: 12px;
}

.movie-card h2 {
  padding: 0 10px 0 10px;
  text-align: center;
  margin-top: 20px;
}

.movie-card h4 {
  margin-bottom: 10px;
}

.release-date {
  margin-top: 30px;
}

.release {
  margin-bottom: 60px;
}

.score {
  text-align: center;
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
	height: 500px;
}

/* flip speed goes here */
.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  box-shadow: 5px 10px 10px #000;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);


  // width: 240px;
  // display: flex;
  // flex-direction: column;
  // margin: 10px;
  // padding: 10px;
  // box-shadow: 5px 10px 10px #888888;
  // background-color: white;
  // border-radius: 10%;

}
