.movie-list {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 245px;
}

@media screen and (max-width: 550px) {
  .movie-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
